.demo { width: 620px }

ul { width: 400px; height: 200px; padding: 2em; margin: 10px; color:#ddd; list-style: none; }
ul li { cursor: pointer; }
li{
  width: 50px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-top: 5px;
}

#draggable { 
  background: #777; 

}
#droppable { background: #f69; }

#third{
  background: #97CBFF;
}



